<LinkTo @route="index" @class="brand {{@hrefClass}}">
  <img class="{{@imgClass}}" alt="GB Landscape Design" src="/{{@rootURL}}assets/images/brand.png" />
  <div class="brand-info">
    <div class="brand-name">GB Landscape Design</div>
    <div class="brand-text">Meeting Our Clients Needs</div>
  </div>
</LinkTo>
