<header class="navbar boxed js-navbar">
    <button 
        type="button" 
        class="navbar-toggle" 
        data-toggle="collapse" 
        data-target="#navbar-collapse" aria-expanded="false"
    >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>

    <BrandImage />

    <SocialMediaList @class='hidden-xs' />
    <div class="navbar-spacer hidden-sm hidden-xs"></div>
    <NavCompanyAddress @class="hidden-sm hidden-xs" />
    </header>