<footer id="footer" class="footer section"> 
      <div class="footer-flex">
        <div class="flex-item">
          <a class="brand pull-left" href="#">
            <img alt="" src="{{rootURL}}/assets/images/brand.png">
            <div class="brand-info">
              <div class="brand-name">GB</div>
              <div class="brand-text">Landscape Design</div>
            </div>
          </a>
        </div>
        <div class="flex-item">
          <div class="inline-block">© GB Landscape Design 2020<br>All Rights Resevered</div>
        </div>
        <div class="flex-item">
          <ul>
            <li><a href="">Site Map</a></li>
            <li><a href="">Term & Conditions</a></li>
            <li><a href="">Privacy Policy</a></li>
            <li><a href="">Help</a></li>
            <li><a href="">Affiliatep</a></li>
          </ul> 
        </div>
        <div class="flex-item">
          <ul>
            <li><a href="">Our Location</a></li>
            <li><a href="">Career</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Contact</a></li>
          </ul> 
        </div>
        <div class="flex-item">
          <ul>
            <li class="active"><a href="">ENG</a></li>
            <li><a href="">FRA</a></li>
            <li><a href="">GER</a></li>
          </ul> 
        </div>
        <div class="flex-item">
          <SocialMediaList />
        </div>
      </div>
    </footer>