<a class="brand" href="/">
    <img class="{{@class}}" alt="GB Landscape Design" src="{{rootURL}}/assets/images/brand.png">
    {{yield}}
    <div class="brand-info">
        <div class="brand-name">GB Landscape Design</div>
        <div class="brand-text">Meeting Our Clients Needs</div>
    </div>
</a>
