<a class="brand" href="/home">
    <img 
        class="{{@class}}"
        alt="GB Landscape Design" 
        src="{{rootURL}}/assets/images/brand.png"
    >
    {{yield}}
    <div class="brand-info">
        <div class="brand-name">GB</div>
        <div class="brand-text">Landscape Design</div>
    </div>
</a>   