<li class="active"><a aria-label="View all projects" href="#" class="all" data-filter="*">All</a></li>
<li><a aria-label="View Commercial projects" href="#" data-filter=".commercial">Commercial </a></li>
<li><a aria-label="View Residential projects" href="#" data-filter=".residential">Residential </a></li>
<li><a aria-label="View Municipality projects" href="#" data-filter=".municipalities">Municipalities </a></li>
