<footer id="footer" class="footer section">
  <div class="footer-flex">
    <div class="flex-item">
        <Copyright @class='inline-block'/>
    </div>
    <div class="flex-item">
      <ul>
        <li><LinkTo @route="index">Home</LinkTo></li>
        <li><LinkTo @route="projects">Our Projects</LinkTo></li>
      </ul>
    </div>
    <div class="flex-item">
    </div>
    <div class="flex-item">
      <SocialMediaList />
    </div>
  </div>
</footer>
