<footer id="footer" class="footer section">
  <div class="footer-flex">
    <div class="flex-item">
        <Copyright @class='inline-block'/>
    </div>
    <div class="flex-item">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/projects">Our Projects</a></li>
      </ul>
    </div>
    <div class="flex-item">
    </div>
    <div class="flex-item">
      <SocialMediaList />
    </div>
  </div>
</footer>
