<header class="navbar boxed js-navbar" {{navbar}}>
    <div class="navbar-bg"></div>
    <button aria-label="Toggle the navigation bar" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse"
        aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <Brand @imgClass="brand-img" />

    <SocialMediaList @class='hidden-xs' />
    <div class="navbar-spacer hidden-sm hidden-xs"></div>
    <Request/>
</header>
