<div class="animsition">
   <div class="wrapper boxed">
      <div class="click-capture"></div>
      <SidebarMenu />
      <Header />
      <HomepageJumbotron />
      <div class="content">   
        <HomepageAbout />
        <HomepageProjects />
      </div>
   <Footer />
  </div>
</div>