    <Request @class='hidden-lg'/>
    <HomepageSlideshow @slides={{@model}}/>
    <br />
    <ViewProjects />
    <div class="content">
      <HomepageAbout />
      <HomepageProjects @projects={{@model}}/>
    </div>
