<div class="{{@class}}">
    <div class="scroll-wrap">
    <div class="scrollable-content">
        <div class="vertical-centred">
        <div class="boxed boxed-inner">
            <div class="vertical-title text-dark hidden-xs hidden-sm">
            <span>contact</span>
            </div>
            <div class="boxed">
            <div class="container">
                <div class="intro overflow-hidden">
                <div class="row">
                    <div class="col-md-12">
                    <h2 class="title-uppercase">
                        enjoy coffee with us
                    </h2>
                    <div id="map" class="map-2"></div>
                    <div class="contact-info">
                        <div class="row-contact-info row">
                        <div class="col-contact-info col-md-6 col-lg-4">
                            <div class="row">
                            <h3 class="col-sm-3 col-md-4">Write us</h3>
                            <div
                                class="col-right col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-1"
                            >
                                <div
                                class="contact-info-row col-sm-6 col-md-12"
                                >
                                <strong class="text-dark"
                                    >head office</strong
                                ><br />
                                hello@bauhaus.co
                                </div>
                                <div
                                class="contact-info-row col-sm-6 col-md-12 "
                                >
                                <strong class="text-dark"
                                    >support</strong
                                ><br />
                                info@bauhaus.co
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-contact-info col-md-6 col-lg-4">
                            <div class="row">
                            <h3 class="col-sm-3 col-md-4">call us</h3>
                            <div
                                class="col-right col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-1"
                            >
                                <div
                                class="contact-info-row col-sm-6 col-md-12"
                                >
                                <strong class="text-dark"
                                    >head office</strong
                                ><br />
                                (0043) 568 456 902
                                </div>
                                <div
                                class="contact-info-row col-sm-6 col-md-12 "
                                >
                                <strong class="text-dark"
                                    >support</strong
                                ><br />
                                (00232) 568 323 901
                                </div>
                            </div>
                            </div>
                        </div>
                        <div class="col-contact-info col-md-6 col-lg-4">
                            <div class="row">
                            <h3 class="col-sm-3 col-md-4">Visit us</h3>
                            <div
                                class="col-right col-sm-8 col-md-7 col-sm-offset-1 col-md-offset-1"
                            >
                                <div
                                class="contact-info-row col-sm-6 col-md-12"
                                >
                                69 Queen St, Melbourne Australia
                                </div>
                            </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>