<div class="project-item item-shadow municipalities">
    <img alt="" class="img-responsive" src="{{rootURL}}/assets/images/projects/5-426x574.jpg">
    <div class="project-hover">
        <div class="project-hover-content">
        <h3 class="project-title">Wooden<br>Hozirontal<br>Villa</h3>
        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
        </div>
    </div>
    <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
</div>
<div class="project-item item-shadow municipalities">
    <img alt="" class="img-responsive" src="{{rootURL}}/assets/images/projects/6-426x574.jpg">
    <div class="project-hover">
        <div class="project-hover-content">
        <h3 class="project-title">Small<br>House Near<br>Wroclaw</h3>
        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
        </div>
    </div>
    <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
</div>
<div class="project-item item-shadow municipalities">
    <img alt="" class="img-responsive" src="{{rootURL}}/assets/images/projects/7-426x574.jpg">
    <div class="project-hover">
        <div class="project-hover-content">
        <h3 class="project-title">Bellecomde<br>Holiday<br>Residence</h3>
        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
        </div>
    </div>
    <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
</div>
<div class="project-item item-shadow municipalities">
    <img alt="" class="img-responsive" src="{{rootURL}}/assets/images/projects/8-426x574.jpg">
    <div class="project-hover">
        <div class="project-hover-content">
        <h3 class="project-title">Cubic<br>Inter Mesuem<br>In Rome</h3>
        <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
        </div>
    </div>
    <a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
</div>