<div class="{{@class}}">
  <div class="scroll-wrap">
    <div class="section-bg" style="background-image:url({{rootURL}}assets/images/projects/1920x1080-tseng.jpg);"></div>
    <div class="scrollable-content">
      <div class="vertical-centred">
        <div class="boxed boxed-inner">
          <div class="vertical-title hidden-xs hidden-sm">
            <span>Introduce</span>
          </div>
          <div class="boxed">
            <div class="container">
              <div class="intro">
                <div class="row">
                  <div class="col-md-8 col-lg-6">
                    <p class="subtitle-top">
                      Welcome To<br />GB Landscape Design
                    </p>
                    <h1 class="display-2 text-white">
                      <span class="text-primary">WE CREATE</span> CUSTOM<br />LUXURIOUS<br />LANDSCAPES
                    </h1>
                    <div class="hr-bottom"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
