    <Request @class='hidden-lg'/>
    <HomepageSlideshow @slides={{@model}}/>
    <br />
    <ViewProjects />
    <div class="content">
      <HomepageAbout />
      <div class="row">
          <ViewProjects @class="view-our-projects"/>
      </div>
      <HomepageProjects @projects={{@model}}/>
    </div>
