<div class="animsition">
   <div class="wrapper boxed">
      <div class="click-capture"></div>
      <SidebarMenu />
      <Header />
      <p align="center" class="hidden-lg">
        <h3 class="section-title">Contact Us</h3>
        <address>
          email:  <span class="text-dark"><a href="mailto:gblandscapes@yahoo.com">gblandscapes@yahoo.com</a></span>
        </address>
      </p>
      <HomepageJumbotron />
      <div class="content">   
        <HomepageAbout />
        <HomepageProjects />
      </div>
   <Footer />
  </div>
</div>