<section class="section-projects section">
    <div class="container">
        <div class="row">
        <div class="col-lg-5">
            <h2 class="section-title">Latest Projects</h2>
        </div>        
        <div class="col-lg-7">
            <div class="filter-content">
            <ul class="filter-carousel filter pull-lg-right js-filter-carousel">
                <li class="active"><a href="#" class="all" data-filter="*">All</a></li>
                <li><a href="#" data-filter=".commercial">Commercial </a></li>
                <li><a href="#" data-filter=".residential">Residential</a></li>
                <li><a href="#" data-filter=".municipalities">Residential</a></li>
            </ul>
            <a href="" class="view-projects">View All Projects</a>
            </div>
        </div>
        </div>
    </div>
    <div class="project-carousel owl-carousel">
        <HomepageProjectsCommercial />
        <HomepageProjectsResidential />
        <HomepageProjectsMunicipalities />
    </div>
</section>