<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <strong class="section-subtitle"><LinkTo @route="projects">our projects</LinkTo></strong>
        <h2 class="section-title">Latest Projects</h2>
      </div>
      <div class="col-lg-7">
        <div class="filter-content">
          <ul {{filtercarousel}} class="filter-carousel filter pull-lg-right js-filter-carousel">
            <FilterLinks />
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div {{did-insert this.loadOwlCarousel}} class="project-carousel owl-carousel">
        {{#each @projects as |project|}}
        <Project @project={{project}} />
        {{/each}}
      </div>
    </div>
    <div class="row">
      <ViewProjects />
    </div>
  </div>
</section>
