    <Request @class='hidden-lg'/>
    <HomepageSlideshow @slides={{@model}}/>
    <br />
    <p align="center">
      <a href="/projects" class="btn">VIEW OUR PROJECTS</a>
    </p>
    <div class="content">
      <HomepageAbout />
      <HomepageProjects @projects={{@model}}/>
    </div>
