<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <strong class="section-subtitle"><a href="/projects">our projects</a></strong>
        <h2 class="section-title">Latest Projects</h2>
      </div>
      <div class="col-lg-7">
        <div class="filter-content">
          <ul {{filtercarousel}} class="filter-carousel filter pull-lg-right js-filter-carousel">
            <li class="active"><a href="#" class="all" data-filter="*">All</a></li>
            <li><a href="#" data-filter=".commercial">Commercial </a></li>
            <li><a href="#" data-filter=".residential">Residential </a></li>
            <li><a href="#" data-filter=".municipalities">Municipalities </a></li>
          </ul>
          <a href="/projects" class="view-projects">View All Projects</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div {{owlcarousel}} class="project-carousel owl-carousel">
        {{#each @projects as |project|}}
        <Project @project={{project}} />
        {{/each}}
      </div>
    </div>
    <div class="row">
      <p align="center">
        <a href="/projects" class="btn">VIEW OUR PROJECTS</a>
      </p>
    </div>
  </div>
</section>
