<section class="section-about section">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <strong class="section-subtitle">about us</strong>
                <h2 class="section-title">Who We Are</h2>
                <p>GB Landscape Design has over ten years of experience, providing quality work and meeting client’s
                    needs. We work on Commercial, Government and Residential projects. GB Landscape Design is minority
                    owned and operated, licensed and bonded.</p>

                <h2 class="section-title">What We Do</h2>
                <p>GB Landscape Design specializes in custom projects, softscapes and hardscapes from residential to
                    public works projects.</p>

                <h2 class="section-title">Landscape Services</h2>
                <ul>
                    <li>Landscape Construction (such as tree, shrub and sod lawns)</li>
                    <li>Irrigation Construction (smart irrigation, eco friendly)</li>
                    <li>Hardscape Construction (such concrete, concrete pavers)</li>
                    <li>Site Construction (Arbors, Pergolas)</li>
                    <li>Site Grading</li>
                    <li>Low-voltage Lighting Installation</li>
                    <li>Site and Soil Preparation</li>
                    <li>Demolition</li>
                    <li>Erosion Control/Slope Stabilization</li>
                    <li>Design Servicers</li>
                    <li>Design-Build Services</li>
                </ul>
            </div>
            <div class="col-md-5 col-md-offset-1">
                <div class="dots-image-2">
                  <img
                    alt=""
                    class="img-responsive"
                    src="{{rootURL}}assets/images/projects/470x490-experience.jpg"
                  />
                  <div class="dots"></div>
                  <div class="experience-info">
                    <div class="number">10+</div>
                    <div class="text">
                      Years<br />Experience<br />Working
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
</section>
