<div class="project-item item-shadow commercial">
<img alt="" class="img-responsive" src="{{rootURL}}/assets/images/projects/1-426x574.jpg">
<div class="project-hover">
    <div class="project-hover-content">
    <h3 class="project-title">Triangle<br>Concrete House<br>On Lake</h3>
    <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
    </div>
</div>
<a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
</div>
<div class="project-item item-shadow commercial">
<img alt="" class="img-responsive" src="{{rootURL}}/assets/images/projects/2-426x574.jpg">
<div class="project-hover">
    <div class="project-hover-content">
    <h3 class="project-title">Ocean<br>Museum<br>Italy</h3>
    <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
    </div>
</div>
<a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
</div>
<div class="project-item item-shadow commercial">
<img alt="" class="img-responsive" src="{{rootURL}}/assets/images/projects/3-426x574.jpg">
<div class="project-hover">
    <div class="project-hover-content">
    <h3 class="project-title">Milko<br>Co-Working<br>commercial</h3>
    <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
    </div>
</div>
<a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
</div>
<div class="project-item item-shadow commercial">
<img alt="" class="img-responsive" src="{{rootURL}}/assets/images/projects/4-426x574.jpg">
<div class="project-hover">
    <div class="project-hover-content">
    <h3 class="project-title">Redesign<br>Interior For<br>Villa</h3>
    <p class="project-description">Lorem ipsum dolor sit amet, consectetur adipil pcing elit. Proin nunc leo, rhoncus sit amet tolil arcu vel, pharetra volutpat sem lorn Donec tincidunt velit nec laoreet semper...</p>
    </div>
</div>
<a href="" class="link-arrow">See project <i class="icon ion-ios-arrow-right"></i></a>
</div>