<div class="section-subtitle">View More Projects</div>
<div class="projects projects-sly-carousel">
  <div class="sly">
    <ul class="slidee">
      {{#each @projects as |project|}}
        <li>
          <div class="project-item item-shadow">
            <img alt="" class="img-responsive" src="/{{rootURL}}assets/images/projects/{{project.img426x574}}">
            <div class="project-hover">
              <div class="project-hover-content">
                <h3 class="project-title">{{project.title}}</h3>
              </div>
            </div>
            <LinkTo @route="project" @class="link-arrow" @model={{project}}>See project <i class="icon ion-ios-arrow-right"></i></LinkTo>
          </div>
        </li>
    {{/each}}
    </ul>
    <span class="prev icon-chevron-left"></span>
    <span class="next icon-chevron-right"></span>
  </div>
  <div class="scrollbar">
    <div class="handle"></div>
  </div>
</div>
