<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="breadcrumbs">
         <a href="/">home</a> >
         <a href="/projects">our projects</a> >
         project detail
        </div>
        <h1>Deputy Ken Collier Neighborhood Park</h1>
      </div>
    </div>

    <div class="row-images row">
      <div class="col-image col-sm-12"><img src="{{rootURL}}assets/images/projects/1170x572-deputy-ken-collier-park.jpg"></div>
      <div class="col-image col col-sm-6"><img src="{{rootURL}}assets/images/projects/1-570x572.jpg"></div>
      <div class="col-image col col-sm-6"><img src="{{rootURL}}assets/images/projects/2-570x572.jpg"></div>
    </div>
    <Request />

    <div class="row">
      <div class="col-lg-12">
        <ProjectsSlyCarousel />
      </div>
    </div>
  </div>
</div>
