 <div class="menu">
        <span class="close-menu icon-cross2 right-boxed"></span>
        <ul class="menu-list right-boxed">
          <li class="active">
            <a href="index.html">Home</a>
            <ul>
              <li><a href="index.html">Classic</a></li>
              <li class="active"><a href="home-fullpage.html">Full page</a></li>
              <li><a href="../dark/index.html">Dark</a></li>
            </ul>
          </li>
          <li>
            <a href="works.html">Works</a>
            <ul>
              <li><a href="works-grid.html">Grid</a></li>
              <li><a href="works-masonry.html">Masonry</a></li>
              <li><a href="works-carousel.html">Carousel</a></li>
              <li><a href="project-detail.html">Project Detail</a></li>
            </ul>
          </li>
          <li>
            <a href="#">News</a>
            <ul>
              <li><a href="news-grid.html">Grid</a></li>
              <li><a href="news-listing.html">Listing</a></li>
              <li><a href="news-masonry.html">Masonry</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Post detail</a>
            <ul>
              <li><a href="post-image.html">Image</a></li>
              <li><a href="post-gallery.html">Gallery</a></li>
              <li><a href="post-video.html">Video</a></li>
              <li><a href="post-right-sidebar.html">Right Sidebar</a></li>
            </ul>
          </li>
          <li>
            <a href="#">Pages</a>
            <ul>
              <li><LinkTo @route='about'>About</LinkTo></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </li>
        </ul>
        <div class="menu-footer right-boxed">
          <div class="social-list">
            <a href="" class="icon ion-social-twitter"></a>
            <a href="" class="icon ion-social-facebook"></a>
            <a href="" class="icon ion-social-googleplus"></a>
            <a href="" class="icon ion-social-linkedin"></a>
            <a href="" class="icon ion-social-dribbble-outline"></a>
          </div>
          <div class="copy">
            © GB Landscapes 2020. All Rights Reseverd
          </div>
        </div>
      </div>