<div class="menu">
  <span class="close-menu icon-cross2 right-boxed"></span>
  <ul class="menu-list right-boxed">
    <li class="active">
      <LinkTo @route='home'>Home</LinkTo>
      <ul>
        <li><a href="index.html">Classic</a></li>
        <li class="active"><a href="home-fullpage.html">Full page</a></li>
        <li><a href="../dark/index.html">Dark</a></li>
      </ul>
    </li>
    <li>
      <a href="works.html">Works</a>
      <ul>
        <li><a href="works-grid.html">Grid</a></li>
        <li><a href="works-masonry.html">Masonry</a></li>
        <li><a href="works-carousel.html">Carousel</a></li>
        <li><a href="project-detail.html">Project Detail</a></li>
      </ul>
    </li>
    <li>
      <a href="#">Pages</a>
      <ul>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </li>
  </ul>
  <div class="menu-footer right-boxed">
    <SocialMediaList />
    <div class="copy">
      © GB Landscapes 2020. All Rights Reseverd
    </div>
  </div>
</div>