<div class="menu">

  <span class="close-menu icon icon-cross2 right-boxed"></span>

  <ul class="menu-list right-boxed">
    <li class="active">
      <LinkTo @route="index">Home</LinkTo>
    </li>
    <li>
      <LinkTo @route="projects">Our Projects</LinkTo>
    </li>
  </ul>
  <div class="menu-footer right-boxed">
    <Request />
    <Copyright />
  </div>
</div>
