<div class="social-list {{@class}}">
  <a href="https://www.facebook.com/GBLandscapeDesign/" class="icon ion-social-facebook"></a>
  <a href="https://www.instagram.com/Gblandscapedesign/" class="icon ion-social-instagram"></a>
</div>
