<Homepage::Slideshow @slides={{this.slides}}/>
<br />
<Buttons::ViewProjects />
<div class="content">
  <Homepage::About />
  <div class="row">
      <Buttons::ViewProjects @class="view-our-projects"/>
  </div>
  <Homepage::Projects @projects={{@model}}/>
</div>
