<HomepageSlideshow @slides={{this.slides}}/>
{{log 'this.slides' this.slides}}
<br />
<ViewProjects />
<div class="content">
  <HomepageAbout />
  <div class="row">
      <ViewProjects @class="view-our-projects"/>
  </div>
  <HomepageProjects @projects={{@model}}/>
</div>
