<nav data-test-menu-social-media class="social-list {{@class}}">
  <a aria-label="Follow us on Facebook" href="https://www.facebook.com/GBLandscapeDesign/" class="icon ion-social-facebook"></a>
  <a aria-label="Follow us on Instagram" href="https://www.instagram.com/Gblandscapedesign/" class="icon ion-social-instagram"></a>
</nav>
