<p data-test-btn-request align="center" class="request-estimate {{@class}}">
  <a aria-label="Email to request an estimate" class="btn" href="mailto:{{this.companyEmail}}">
    <div class="section-title">REQUEST AN ESTIMATE</div>
  </a>
</p>
