{{head-layout title "GB Landscape Design - Whittier, CA" separator="|" prepend=true}}
<div>
  <div class="wrapper boxed">
    <div class="click-capture"></div>
    <SidebarMenu />
    <Header />
      {{outlet}}
    <Footer />
  </div>
</div>
